.page {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.details-grid {
    display: grid;
    grid-template-columns:
    repeat(3, 1fr);
    gap: 15px;
}

.description {
    margin-top: 20px;
}

.technologies ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
}


.applications form {
    display: flex;
    gap: 10px;
}

select {
    padding: 5px;
}

button {
    padding: 5px 10px;
}